{% for post in photos %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default">
                <p><img src="{{post.photo.url}}" style="width:100%;"></p>
                <button type="button" class="btn btn-xs btn-info">
                    {{post.author.username}}
                </button>
                <p>{{post.text|linebreaksbr}}</p>   <!-- | : 템플릿 필터, linebreaksbr : 줄바꿈 문자를 <br>태그로 변환 -->
                <p class="text-rignt">
                    <a href="{ % url 'photo:photo_detail' pk=post.id %}" class="btn btn-xs btn-success"></a>
                </p>

        </div>
    </div>

{% endfor %}